@font-face {
    font-family: 'FontGame';
    src: url('../../../public/assets/cueva_encantada/fonts/FontGame.ttf') format('truetype');
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    background: url('../../../public/assets/images/Juego-de-Tronos.jpg') no-repeat center center fixed; /* Añade la imagen de fondo */
    background-color: rgba(0, 0, 0, 0.9);
    user-select: none;
}

.logo-JEKH img{
    width: 500spx;
    height: 300px;
}

.title-cueva-encantada{
    font-size: 50px;
    font-weight: bold;
    color: rgb(198, 20, 204);
    font-family: 'FontGame', Arial, sans-serif;
    text-align: center;
}

.button-start > button {
    color: white;
    background-color: rgb(67, 23, 124);
    font-weight: bold;
    width: 96px;
    height: 32px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4rem;
}

.button-start > button:hover {
    background-color: #1d0224;
}

.button-start > button:active {
    background-color: #b761e9; 
}

.button-start > button:disabled {
    background-color: #fde6e7;
    cursor: not-allowed;
}
