.container-lifes {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Alinea el contenedor a la izquierda */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(2, 2, 2, 0.8); /* Fondo semi-transparente blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
    font-size: 2rem; /* Tamaño de fuente */
    color: #333; /* Color de texto */
  }
  
  .container-lifes span {
    margin: 0 5px; /* Espacio entre los corazones */
    font-size: 2rem; /* Tamaño de fuente */
    color: red; /* Color rojo para los corazones */
  }
  