.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    position: absolute;
    top: 0;
    width: 100%;
    padding: 8px; 
    box-sizing: border-box; 
    z-index: 1;
}
.container-avatar-lifes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: red;
}

.container-enemy-lifes{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; 
    border-radius: 5px;
    color: white;
}